/*TEMPLATE page*/
@mediumGray:rgb(40,40,40);
@green:rgb(0,79,0);
@red:rgb(79,0,0);



.panel-default>.panel-heading{
    background-color: @mediumGray;
    color:white;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body{
    border-top-color: #00EFFF;
    background-color: darken(@mediumGray,5%);
}

#templateStats{
  display: inline-block;
  margin-left: 50px;
  margin-bottom: 50px;
  padding: 5px;
  text-align: left;
  background-color:rgba(42,42,42,0.8);
  p{
    margin: 0px;
    font-size:12px;
  }
  #templateBuild{
      display: inline-block;
      height:40px;
      width: 240px;
  }  
}
aws-riot[type='item-pic']{
    border:3px ridge #717171;
    border-radius: 3px;

}
#templateBuild>aws-riot[type='item-pic'],#myItemBuild>aws-riot[type='item-pic'],.itemBuild>aws-riot[type='item-pic'],#itemsPool>aws-riot[type='item-pic']{
    margin: 0px;
    float:left;
    height: 100%;
    width: 16.6%;
    font-size: 8px;
}
#itemsPool>aws-riot[type='item-pic'],#myItemBuild>aws-riot[type='item-pic']{
    cursor: pointer;
}


#watchedBuildsWrapper{
    height: 200px;
    overflow: auto;
}

.itemBuild{
    display: inline-block;
    height:40px;
    width: 400px;
    background:@mediumGray;
    aws-riot[type='item-pic']{
        width: 10%;
        color:black;
    }
    item-pic.carbon-texture{
        background-size: 16px 16px;
        background-repeat: repeat;
    }
    aws-riot[type='profile-icon-pic']{
        margin: 0px;
        background-size:contain;
        background-repeat: no-repeat;
        float:left;
        height: 100%;
        width: 10%;
    }
}

.build-won{
    border:2px groove @green;
}
.build-lost{
    border:2px groove @red;
}

#itemsPool{
    display: inline-block;
    width: 100%;
    aws-riot[type='item-pic']{
        height: 50px;
        width: 50px;
    }
}

#myItemBuild{
    height: 50px;
    width: 300px;
    overflow: auto;
    display: inline-block;
    background: @mediumGray;
    margin-bottom: 20px;
}


.imba-has-error>.panel-heading{
    box-shadow: inset 1px 1px 12px rgba(255, 0, 21, 0.5);
}

.popover{
    background-color:rgb(14,14,25);
}
.popover-title{
    background-color:rgb(25,25,25);
}

#myItemBuild>aws-riot[type='item-pic'].ng-enter{
  -webkit-animation:0.5s fadeInDown;
  -moz-animation:0.5s fadeInDown;
  -o-animation:0.5s fadeInDown;
  animation:0.5s fadeInDown;     
}
#myItemBuild>aws-riot[type='item-pic'].ng-leave{
  -webkit-animation:0.5s fadeOutUp;
  -moz-animation:0.5s fadeOutUp;
  -o-animation:0.5s fadeOutUp;
  animation:0.5s fadeOutUp;     
}

#itemsPool>aws-riot[type='item-pic'].ng-enter{
  -webkit-animation:0.5s fadeInUp;
  -moz-animation:0.5s fadeInUp;
  -o-animation:0.5s fadeInUp;
  animation:0.5s fadeInUp;     
}
#itemsPool>aws-riot[type='item-pic'].ng-leave{
  -webkit-animation:0.5s fadeOutDown;
  -moz-animation:0.5s fadeOutDown;
  -o-animation:0.5s fadeOutDown;
  animation:0.5s fadeOutDown;     
}