<div class="jumbotron text-center" back-img="{{templateResolved.champion}}">
    <div class="page-heading-container">Template: {{templateResolved.name}}
        <br>
        Champion: {{templateResolved.champion}}
    </div>

    <awesome-template template="templateResolved" ng-show="templateStatus.set"></awesome-template>

    <div id="templateBuild" ng-show="templateStatus.set">
        <item-pic id="{{item}}" ng-repeat="item in templateResolved.itemBuild track by $index"></item-pic>
    </div>
   
     <accordion close-others="{{templateStatus.set}}">

        <accordion-group heading="Template caption" ng-class="{'imba-has-error':templateStatus.championUnset}" is-open="templateStatus.championUnset">
          <div class="form-group col-lg-6">
            <label for="templateName">Template Name</label>
            <input type="text" class="form-control" placeholder="name of template" name="templateName" ng-model="templateNew.name">
          </div>

          <div class="form-group col-lg-6">
            <label for="championName">Champion Name</label>
            <input type="text" ng-model="templateNew.champion" placeholder="champion template" name="championName" 
            typeahead="champion for champion in championNames | filter:$viewValue | limitTo:8" class="form-control">
          </div>
        </accordion-group>

        <accordion-group heading="watched players" ng-class="{'imba-has-error':templateStatus.watchedProsUnset}" is-open="templateStatus.watchedProsUnset">
            <!--Shows the watched-->
            <awesome-snippet summoner="{{summoner}}" ng-repeat="summoner in templateNew.watchedPros"
                    accept="addWatched(result)" remove="removeWatched($index)">
            </awesome-snippet>
            <!--One free to add more(if there are less than 3 watched)-->
            <awesome-snippet ng-show="templateNew.watchedPros.length<3" accept="addWatched(result)" remove="removeWatched($index)"></awesome-snippet>
        </accordion-group>

    </accordion>



    <div ng-show="templateStatus.set&&(watchedBuilds.length>0)">
        <h2 class="content-header">Item builds of watched players</h2>
        <div id="watchedBuildsWrapper" class="content-body">
            <div class="itemBuild" ng-repeat="build in watchedBuilds" 
            ng-class="{'build-won':build.winner,'build-lost':!build.winner}">
                <item-pic ng-repeat="slot in [0,1,2,3,4,5]" id="{{build['item'+slot]}}" version="{{build.version}}"
                popover="{{itemsData[build['item'+slot]].plaintext}}" popover-title="{{itemsData[build['item'+slot]].name}}" popover-trigger="mouseenter">
                </item-pic>
                <profile-pic id="{{build.player.profileIcon}}"></profile-pic>
                {{build.player.summonerName}}
                <br>
                {{build.kills}}-{{build.deaths}}-{{build.assists}}
                {{build.win}}
            </div>
        </div>

        <h2 class="content-header">Items pool</h2>
        <div id="itemsPool" class="content-body">
            <item-pic id="{{item}}" ng-repeat="item in itemsWatchedBuilds" ng-click="addToBuild(item,$index)"
            popover="{{itemsData[item].plaintext}}" popover-title="{{itemsData[item].name}}" popover-trigger="mouseenter">
            </item-pic>
        </div>
        <h2 class="content-header-between"><i class="fa fa-arrow-circle-o-down"></i>compose build<i class="fa fa-arrow-circle-o-up"></i></h2>
        <div id="myItemBuild" ng-class="{'build-lost':myBuild.length<6}">
            <item-pic id="{{item}}" ng-repeat="item in myBuild track by $index" ng-click="removeFromBuild(item,$index)"
            popover="{{itemsData[item].plaintext}}" popover-title="{{itemsData[item].name}}" popover-trigger="mouseenter" >
            </item-pic>
        </div>

    </div>
    
    <button class="btn imba-btn imba-btn-block" ng-click="processtemplateNew()">Edit template</button>
    
    <!--
    <p>templateOld:{{templateResolved}}</p>

     <p>templateNew: {{templateNew}}</p>-->
</div>