<div class="jumbotron text-center" back-img="{{champ.champion}}">
    <div class="username">Template: {{champ.name}}
        <br>
        Champion: {{champ.champion}}
    </div>

    <div id="viewAwesomeTemplate" class="awesome-template">
        <a>{{champ.name|limitFont:6}}</a>
        <p>{{champ.champion}}</p>
        <img ng-src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{champ.champion}}_0.jpg">
        <i class="fa fa-times" ng-click="deleteChamp(champ._id)">delete</i>
    </div>

    <div id="templateBuild">
        <item-pic id="{{item}}" ng-repeat="item in champ.itemBuild track by $index"></item-pic>
    </div>
 
    <div id="editTemplate">
    	<h2>Edit template</h2>
    	<form id="championTemplate-edit-form" ng-submit="processChampionTemplate()">
            <div class="row">
                <div class="form-group col-lg-6">
                    <label for="templateName">Template Name</label>
                    <input type="text" class="form-control" name="templateName" ng-model="championTemplate.name">
                </div>

                <div class="form-group col-lg-6">
                    <label for="championName">Champion Name</label>
                    <input type="text" class="form-control" name="championName" ng-model="championTemplate.champion">
                </div>
            </div>
			

	    	<button type="submit" class="btn btn-success">Edit template</button>

    	</form>
    	
    	

    </div>

    <div>
        
        <div ng-show="champ.hasOwnProperty('watchedPro')" id="riot-snippet" class="well well-sm col-xs-6 col-xs-offset-3">
            <img ng-src="http://ddragon.leagueoflegends.com/cdn/4.20.1/img/profileicon/{{watchedPro.profileIconId}}.png">
            name: {{watchedPro.lolacc}}
            level: {{watchedPro.summonerLevel}}
        </div>

        <div id="watchedPro">
            <input type="text" class="form-control" name="lolacc" ng-model="watchedPro.lolacc" ng-minlength="1">
            <select class="form-control" name="region" ng-model="watchedPro.region">
                    <option>euw</option>
                    <option>eune</option>
            </select>
            <button ng-click="bindWatchedPlayer()">watch this player</button>
            {{watchedPro}}
        </div>
        
        <p>Item builds based on watched players about this champion</p>
        <div id="watchedBuildsWrapper">
            <div class="itemBuild" ng-repeat="build in watchedBuilds">
                <item-pic ng-repeat="slot in [0,1,2,3,4,5]" id="{{build['item'+slot]}}">
                    {{build['item'+slot]}}
                </item-pic>
            </div>
        </div>
        

        <p>Items pool</p>
        <div id="itemsPool">
            <item-pic id="{{item}}" ng-repeat="item in itemsWatchedBuilds" ng-click="addToBuild(item,$index)">
                {{item}}
            </item-pic>
        </div>

        <p>Make your build</p>
        <div id="myItemBuild">
            <item-pic id="{{item}}" ng-repeat="item in myBuild track by $index" ng-click="removeFromBuild(item,$index)">
                {{item}}
            </item-pic>
        </div>

    </div>
</div>