<div class="jumbotron text-center" back-img="{{championList[lastChampionPlayed]}}">
    <div class="username">{{user.name}}</div>
    
    <div class="row" id="recent-games">
         <h2>Recent games</h2>
		<!--little boxes for each game-->
		<div  ng-class="{'has-win':match.stats.win,'has-loss':!match.stats.win}"
		 ng-repeat="match in recentMatchesData">
			<img ng-src="http://ddragon.leagueoflegends.com/cdn/4.20.1/img/champion/{{championList[match.championId]}}.png">
	    	{{match.stats.championsKilled}}/{{match.stats.numDeaths}}/{{match.stats.assists}}
		</div>
    </div>

    
    <div class="row" id="mostPlayedChampions">
        <h2>Most played champs</h2>
        <div class="bar col-xs-4" ng-show="$index!=0" ng-repeat="champ in mostPlayedChampions">
            <div class="row">
                <div class="col-xs-2 col-xs-offset-2 most-champion-bar" gradientbar percentage-positive="{{100*champ.stats.totalSessionsPlayed/mostPlayedChampions[0].stats.totalSessionsPlayed|number:0}}" 
                color-positive="yellow"
                color-negative="gray">{{champ.stats.totalSessionsPlayed}}
                </div>

                <div class="col-xs-4 most-champion-picture">
                     <img ng-src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{championList[champ.id]}}_0.jpg">
                </div>

                <div class="col-xs-2 most-champion-bar" gradientbar percentage-positive="{{100*champ.stats.totalSessionsWon/champ.stats.totalSessionsPlayed|number:0}}" 
                color-positive="rgba(0,255,0,1)"
                color-negative="rgba(255,0,0,1)">
                <p>{{champ.stats.totalSessionsPlayed-champ.stats.totalSessionsWon}}</p>
                <p>{{champ.stats.totalSessionsWon}}</p>

                </div>
            </div>
        </div>
    </div>

    <div class="row" id="miningFunctionality">
        <h3>Data mining-fetch good and bad then classifies you as one of them</h3>
        <div id="yoloMine" mining-state="miningState">
            <button ng-show="!noobOrPro && !mining" ng-click="miningFunctionality()">good OR bad?</button>
            <p ng-show="noobOrPro">verdict: {{noobOrPro.result.class}} <br> ({{miningResult}}%)</p>
        </div>
    </div>


    <div class="row" id="awesomeFunctionality">
        <h3>Want to get better? Check out hot picks in your league</h3>
        <button ng-click="awesomeFunctionality()">hot picks</button>
        <div class="row" ng-repeat="champ in awesomeData.champions">
            <div class="col-xs-2">
                Champ Id: {{champ.id}}
                Occurencies: {{champ.count}}
            </div>
             <div class="col-xs-4 most-champion-picture">
                 <img ng-src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{championList[champ.id]}}_0.jpg">
            </div>
            <div class="col-xs-4">
                Kills:{{champ.kills}}
                Deaths:{{champ.deaths}}
                Assists:{{champ.assists}}
            </div>
        </div>
    </div>


</div>