<i class="fa fa-chevron-circle-left fa-3x" ng-show="current>0" ng-click="previousTemplate()"></i>


<div class="awesome-template" ng-class="{'templateOnFocus':current===$index}" ng-repeat="template in templates track by $index">
    <a ui-sref="champion({champion_id:template._id})"><span class="fa fa-user"></span>{{template.name|limitFont:6}}</a>
    <p>{{template.champion}}</p>
    <img ng-src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{template.champion}}_0.jpg">
    <i class="fa fa-times" ng-click="deleteChamp(template._id)">delete</i>
</div>

<i class="fa fa-chevron-circle-right fa-3x" ng-click="nextTemplate()" ng-show="current<templates.length-1"></i>
