<!--<div class="jumbotron text-center">
    <h2>You have <span class="label label-info">{{champs.length}}</span> champions in ur DB</h1>
</div> -->

<div id="champ-list" class="row">
    <!--ng-mousemove="derp($event)"-->
        <awesome-slider class="col-lg-12" ></awesome-slider>
</div>

<div id="champ-form" class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
        <form>
            <div class="form-group">
                <input type="text" class="form-control input-lg text-center"
                placeholder="name of template" ng-model="formData.name">
            </div>
            <button type="submit" class="btn btn-primary btn-lg" 
            ng-click="createChamp()">Add template</button>
        </form>
    </div>
</div>
