<div id="sidebarHud" class=" col-xs-10 col-xs-offset-2">
	<h2>{{sidebarData.local}}</h2>
	<div>
		<img ng-src="http://ddragon.leagueoflegends.com/cdn/4.20.1/img/profileicon/{{sidebarData.profileIconId}}.png">
		{{sidebarData.name}},
		{{sidebarData.id}}
	</div>
	<div>
		<img ng-src="img/tierIcons/{{sidebarData.leagueInfo.tier}}_{{sidebarData.leagueInfo.entries[0].division}}.png">{{sidebarData.leagueInfo.tier}} {{sidebarData.leagueInfo.entries[0].division}}
	</div>
</div>


<!--
<div class="well text-center col-xs-8 col-xs-offset-2">
	<div class="row">
		<h2>{{sidebarData.local}}</h2>
	</div>
	<div class="row">
		<div  class="well well-sm col-xs-10 col-xs-offset-1">
			<img ng-src="http://ddragon.leagueoflegends.com/cdn/4.20.1/img/profileicon/{{sidebarData.profileIconId}}.png">
			name: {{sidebarData.name}}
			id:{{sidebarData.id}}
			summoner level: {{sidebarData.summonerLevel}}

			ranked:{{sidebarData.leagueInfo.tier}} {{sidebarData.leagueInfo.entries[0].division}}
			<img ng-src="img/tierIcons/{{sidebarData.leagueInfo.tier}}_{{sidebarData.leagueInfo.entries[0].division}}.png">
		</div>
	</div>
</div>

-->