<div id="templatesFilter" ng-show="sliderOptions.uniqueValues.length>1">
	<div class="btn-group" dropdown>
      <button type="button" class="btn imba-btn">Filter:</button>
      <button type="button" class="btn imba-btn dropdown-toggle" dropdown-toggle>
        {{sliderOptions.filter}}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="champion in sliderOptions.uniqueValues" ng-click="sliderOptions.setFilter(champion)">{{champion}}</li>
        <li class="divider"></li>
        <li ng-click="sliderOptions.setFilter('all')">show all</li>
      </ul>
    </div>
</div>


<i class="fa fa-chevron-circle-left fa-3x" ng-show="sliderOptions.current>0" ng-click="previousTemplate()"></i>

<awesome-template 
  template="template" delete-function="deleteFunction(template)" 
  ng-repeat="template in filteredTemplates=(templates| filterByChampion:sliderOptions.filter) track by template._id">
</awesome-template>

<i class="fa fa-chevron-circle-right fa-3x" ng-click="nextTemplate()" ng-show="sliderOptions.current<filteredTemplates.length-1"></i>

