awesome-errorbox{
	display:block;
	background:black;
	padding:1em;
	border: 2px groove rgb(79,0,0);
	color: rgb(165, 51, 51);
	i.fa.fa-bug{
    	font-size:1em;
    }
    i.fa.fa-repeat{
    	display: block;
    	font-size: 1.5em;
    	color: rgb(165, 51, 51);
    	cursor:pointer;
    }
}