<div ng-show="!result" class="lol-search">
	<!--<input type="text" placeholder="region" ng-model="searchForm.region">-->
	<div class="btn-group">
        <label class="btn imba-btn" ng-model="searchForm.region" btn-radio="region" ng-repeat="region in allowedRegions">{{region}}</label>
    </div>
	<input type="text" placeholder="name" ng-model="searchForm.name">
	<button ng-click="checkAccount()">check player</button>
</div>
<div ng-show="result" class="result-snippet">
	<!--<img ng-src="http://ddragon.leagueoflegends.com/cdn/5.2.1/img/profileicon/{{result.profileIconId}}.png">-->
	<profile-pic id="{{result.profileIconId}}"></profile-pic>
	<p>{{result.name}}</p>
	<p>{{result.summonerLevel}} lvl, {{result.region}}</p>
	<i class="fa fa-thumbs-o-up" ng-show="!summoner && approveFunction" ng-click="acceptSummoner()"></i>
	<i class="fa fa-thumbs-o-down" ng-show="!summoner && approveFunction" ng-click="rejectSummoner()"></i>
	<i class="fa fa-times" ng-show="summoner && removeFunction" ng-click="removeSummoner()"></i>
</div>