awesome-template {
  width: 100px;
  height: 200px;
  display: inline-block;
  padding: 10px;
  z-index: -1;
  background-color: rgba(42, 42, 42, 0.8);
  border: 1px solid #000000;
  border-radius: 3px;
  box-shadow: rgba(123, 242, 248, 0.7) 0px 0px 6px 0px;
  transform: perspective(500px) rotateY(50deg) translate(50px, 0px);
  margin-left: -50px;
}
awesome-template a {
  font: 15px arial, sans-serif;
  color: #7bf2f8;
  opacity: 1;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
}
awesome-template a:hover {
  color: #839345;
  opacity: 1;
}
awesome-template champion-loading-pic {
  height: 80%;
}
awesome-template i {
  color: #fc2323;
  cursor: pointer;
}
.templateOnFocus {
  transform: none;
  margin-left: 50px;
  margin-right: 50px;
  box-shadow: #7bf2f8 0px 0px 6px 0px;
}
.templateOnFocus-add {
  transform: perspective(500px) rotateY(50deg) translate(50px, 0px);
  margin-left: -50px;
  transition: transform 0.5s ease-in, margin 0.5s linear;
}
.templateOnFocus-add-active {
  transform: perspective(500px) rotateY(0deg) translate(0px, 0px);
  margin-left: 50px;
  margin-right: 50px;
}
.templateOnFocus-remove {
  transform: perspective(500px) rotateY(0deg) translate(0px, 0px);
  margin-left: 50px;
  margin-right: 50px;
  transition: transform 0.5s ease-in, margin 0.5s linear;
}
.templateOnFocus-remove-active {
  transform: perspective(500px) rotateY(50deg) translate(50px, 0px);
  margin-left: -50px;
  margin-right: 0px;
}
