#mostPlayedChampions {
  background-color: rgba(192, 192, 192, 0.3);
  border-radius: 10px;
}
#mostPlayedChampions > h2,
#recent-games > h2 {
  margin: 0px;
  background-color: rgba(42, 42, 42, 0.5);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.most-champion-bar {
  padding: 0px;
  height: 100px;
}
.most-champion-picture {
  padding: 0px;
  margin: 0px;
  height: 100px;
  background: black;
}
.most-champion-picture champion-loading-pic {
  height: 100%;
  width: 100%;
}
#mostPlayedChampions > div {
  margin: 0 auto;
}
#mostPlayedChampions > div > div > div > p:nth-of-type(1) {
  font: 13px Helvetica, Arial;
  text-align: center;
}
#mostPlayedChampions > div > div > div > p:nth-of-type(2) {
  font: 13px Helvetica, Arial;
  padding: 0px;
  margin: 0px;
  margin-left: 25%;
  position: absolute;
  bottom: 0;
}
#mostPlayedChampions img {
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}
#awesomeFunctionality img {
  height: 100px;
}
#awesomeFunctionality > button {
  background: #222222;
  border: 3px ridge #c3c3c3;
  border-radius: 20%;
  height: 50px;
  width: 120px;
}
#yoloMine {
  margin: 0px;
  padding: 0px;
  padding-top: 40px;
  height: 200px;
  width: 200px;
  margin-left: 33%;
  position: relative;
  overflow: hidden;
  background: url(../img/psGod/INNER.png), url(../img/psGod/OUTER.png);
  background-size: contain;
}
/*#yoloMine:before
{
    content: "";
    position: absolute;
    z-index: -1;
    margin: 0px;
    padding: 0px;
    height: 200px;
    width: 200px;
    background: url(../img/psGod/INNER.png),url(../img/psGod/OUTER.png);
    background-size: contain;
    -webkit-animation:load 1.7s infinite ease;
}

@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}*/
#yoloMine > button {
  background: #222222;
  border: 3px ridge #c3c3c3;
  border-radius: 50%;
  height: 120px;
  width: 120px;
}
#yoloMine > p {
  background: #222222;
  border: 3px ridge #c3c3c3;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  padding-top: 20px;
  margin-left: 40px;
}
