champion-loading-pic,
champion-icon-pic {
  display: block;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
/*champion-loading-pic{
	p{	
		margin:0px;
		padding: 0px;
		background-color: rgba(42,42,42,0.5);
	}
}*/
#champion-name {
  margin: 0px;
  padding: 0px;
  position: absolute;
  width: 100%;
  bottom: 0px;
  font-size: 12px;
  text-align: center;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  border-top: 1px solid #00EFFF;
  background-color: rgba(42, 42, 42, 0.5);
}
