		
        html                    { overflow-y:scroll; }
        body                    { padding-top:5px; background-color:#111;}
        #champ-list              { margin-bottom:30px; }
        .jumbotron	{margin-bottom: 0px;  /*box-shadow: 0pt 0pt 5px #000;*/  box-shadow: rgb(123, 242, 248) 0px 0px 6px 0px inset;}
        h1{background-color:rgba(192,192,192,0.3);border-radius: 10px;}
        .nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
        
/*NAVBAR*/
.navbar-brand{
    padding-top: 0px;
}
.navbar-brand img{
    height:100%;
}


/*SIDEBAR*/
#sidebarHud{
    background:#151515;
    font: 15px arial, sans-serif;
    color:rgb(62, 253, 255);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 100px;
    box-shadow: rgb(123, 242, 248) 0px 0px 6px 0px inset;
    text-align: right;
}
#sidebarHud h2{
    border-bottom: 2px groove #00EFFF;
}
#sidebarHud>h2>a{
    color:rgb(189, 217, 242);
}
#sidebarHud awesome-snippet{
    width: 200px;
    font-size: 10px;
}



#sidebarHud div.league-info{
    border-top: 2px groove #00EFFF;
    border-top-right-radius: 2px;
    border-top-left-radius:2px;
}
#sidebarHud div.league-info p{
    display: inline-block;
}
#sidebarHud div.league-info img{
    width:3em;
}
/*Dynamic sidebar*/
[ui-view="sideBar"]>div {
    margin-top: 20px;
    padding:20px;
    background:#151515;
    font: 15px arial, sans-serif;
    color:rgb(1, 122, 123);
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: rgb(123, 242, 248) 0px 0px 6px 0px inset;
    text-align: right;
}










        /* form styling */
#form-container                { background:#2f2f2f; margin-bottom:20px;border-radius:5px;color:white;box-shadow: rgb(123, 242, 248) 0px 0px 6px 0px; }
#form-container .page-header   { background:#151515; margin:0; padding:30px; 
    border-top-left-radius:5px; border-top-right-radius:5px; }
#summoner-bind{padding:20px;text-align: center;}

/* numbered buttons */
#status-buttons                 {  }
#status-buttons a               { color:#FFF; display:inline-block; font-size:12px; margin-right:10px; text-align:center; text-transform:uppercase; }
#status-buttons a:hover         { text-decoration:none; }

/* we will style the span as the circled number */
#status-buttons span            { background:#080808; display:block; height:30px; margin:0 auto 10px; padding-top:5px; width:30px; 
    border-radius:50%; }

/* active buttons turn light green-blue*/
#status-buttons a.active span   { background:#00BC8C; }

#status-buttons                 {  }
#status-buttons a               { color:#FFF; display:inline-block; font-size:12px; margin-right:10px; text-align:center; text-transform:uppercase; }
#status-buttons a:hover         { text-decoration:none; }

.carbon-texture{
    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
}

/*GAMER page*/
div[back-img]{
    width: 700px;
   /* height: 1400px;*/
    color: #fff;
    background-size:contain;
    background-repeat:no-repeat;
    background-color: black;
    padding-top:0px;
}

#yoloMine{
    margin: 0px;
    padding: 0px;
    padding-top: 40px;
    height: 200px;
    width: 200px;
    margin-left: 33%;
    position: relative;
    overflow: hidden;
    background: url(../img/psGod/INNER.png),url(../img/psGod/OUTER.png);
    background-size: contain;
}
/*#yoloMine:before
{
    content: "";
    position: absolute;
    z-index: -1;
    margin: 0px;
    padding: 0px;
    height: 200px;
    width: 200px;
    background: url(../img/psGod/INNER.png),url(../img/psGod/OUTER.png);
    background-size: contain;
    -webkit-animation:load 1.7s infinite ease;
}

@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}*/


#yoloMine>button{
    background: #222222;
    border:3px ridge #c3c3c3;
    border-radius: 50%;
    height: 120px;
    width:120px;
  
}
#yoloMine>p{

    background: #222222;
    border:3px ridge #c3c3c3;
    border-radius: 50%;
    height: 120px;
    width:120px;
    padding-top: 20px;
    margin-left: 40px;
}


/* ANIMATIONS
============================================================================= */

.ui-view-container {
  position: relative;
  /*height: 65px;*/
}

[ui-view].ng-enter {
   -webkit-animation:1s fadeIn;
  -moz-animation:1s fadeIn;
  -o-animation:1s fadeIn;
  animation:1s fadeIn;
}

