awesome-errorbox {
  display: block;
  background: black;
  padding: 1em;
  border: 2px groove #4f0000;
  color: #a53333;
}
awesome-errorbox i.fa.fa-bug {
  font-size: 1em;
}
awesome-errorbox i.fa.fa-repeat {
  display: block;
  font-size: 1.5em;
  color: #a53333;
  cursor: pointer;
}
[gradientbar] {
  height: 2em;
}
[gradientbar][horizontal="true"] span:nth-of-type(1) {
  float: left;
  margin-left: 5px;
}
[gradientbar][horizontal="true"] span:nth-of-type(2) {
  float: right;
  margin-right: 5px;
}
[gradientbar]:not([horizontal="true"]) span:nth-of-type(1) {
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0px;
}
[gradientbar]:not([horizontal="true"]) span:nth-of-type(2) {
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 0px;
}
.attention-remove {
  animation: 0.5s bounce;
}
