aws-template{
    width: 100px;
    height: 200px;
    display: inline-block;
    padding: 10px;
    z-index: -1;
    background-color:rgba(42,42,42,0.8);
    
    border:1px solid #000000;
    border-radius: 3px;
    box-shadow: rgba(123, 242, 248,0.7) 0px 0px 6px 0px;


    transform: perspective(500px) rotateY(50deg) translate(50px,0px);
    margin-left: -50px;
    
    a{
    	font: 15px arial, sans-serif;
	    color:rgb(123, 242, 248);
        opacity: 1;
        display: block;
        white-space: nowrap;
	    overflow: hidden;
	    text-overflow:ellipsis;
        text-decoration: none;
    }
    a:hover{
        color:#839345;
        opacity: 1;
    }
    aws-riot{
    	height:80%;
    }
    i{
        color:rgb(252,35,35);
        cursor: pointer;
    }
}

.templateOnFocus{
    transform: none;    
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: rgba(123, 242, 248,1) 0px 0px 6px 0px;
}

.templateOnFocus-add{
   transform: perspective(500px) rotateY(50deg) translate(50px,0px);
   margin-left: -50px;
   transition:transform 0.5s ease-in,margin 0.5s linear;
}
.templateOnFocus-add-active{
    transform: perspective(500px) rotateY(0deg) translate(0px,0px);    
    margin-left: 50px;
    margin-right: 50px;   
}
.templateOnFocus-remove{
    transform: perspective(500px) rotateY(0deg) translate(0px,0px);    
    margin-left: 50px;
    margin-right: 50px;
    transition:transform 0.5s ease-in,margin 0.5s linear;   
}
.templateOnFocus-remove-active{
    transform: perspective(500px) rotateY(50deg) translate(50px,0px);
    margin-left: -50px;
    margin-right: 0px;
}

[ui-view].ng-enter aws-template,
aws-template.ng-enter,aws-template.ng-move{
  -webkit-animation:1s awesomeBounceInLeft;
  -moz-animation:1s awesomeBounceInLeft;
  -o-animation:1s awesomeBounceInLeft;
  animation:1s awesomeBounceInLeft;     
}
@-webkit-keyframes awesomeBounceInLeft {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(1.000, -0.530, 0.405, 1.425);
    transition-timing-function: cubic-bezier(1.000, -0.530, 0.405, 1.425);
  }

  0% {
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
    opacity:0;
  }

  100% {
    -webkit-transform: perspective(500px) rotateY(50deg) translate(50px,0px);
    transform: perspective(500px) rotateY(50deg) translate(50px,0px);
    opacity: 1;
  }
}

aws-template.ng-leave{
  -webkit-animation:1s fadeOutRightBig;
  -moz-animation:1s fadeOutRightBig;
  -o-animation:1s fadeOutRightBig;
  animation:1s fadeOutRightBig;
}

@-webkit-keyframes awesomewtf {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(1.000, -0.530, 0.405, 1.425);
    transition-timing-function: cubic-bezier(1.000, -0.530, 0.405, 1.425);
  }

  0% {
    width: 100px;
    opacity:1;
  }

  100% {
    width:0px;
    opacity: 0;

  }
}