<div class="row">
	<div id="summoner-bind" class="col-xs-8 col-xs-offset-2">
		<awesome-snippet summoner="{{bind.lolacc}}" ng-if="bind.have"
		accept="acceptBind(result)" remove="removeBind()"></awesome-snippet>

		<awesome-snippet ng-if="!bind.have"
		accept="acceptBind(result)" remove="removeBind()"></awesome-snippet>
		

	</div>

<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="account.form.finish" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>