<div class="row">
	<div class="col-xs-7 col-xs-offset-1">
		<riot-derp summoner="{{bind.lolacc}}" ng-if="bind.have"
		accept="acceptBind(result)" remove="removeBind()"></riot-derp>

		<riot-derp ng-if="!bind.have"
		accept="acceptBind(result)" remove="removeBind()"></riot-derp>
		
		{{lolacc}}
		{{bind}}

	</div>

<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="account.form.finish" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>