<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<div id="form-container">
			<div class="page-header text-center">
				<h2>Join us <i class="fa fa-users"></i></h2>
				<div id="status-buttons" class="text-center">
					<a ui-sref-active="active" ui-sref=".local"><span>1</span>Local acc</a>
					<a ui-sref-active="active" ui-sref=".bindlol"><span>2</span>Bind LoL acc</a>
					<a ui-sref-active="active" ui-sref=".finish"><span>3</span>Settings</a>
				</div>
			</div>
			<form id="signup-form" ng-submit="processSignupForm()" novalidate>
				<div id="form-views" ui-view></div>
			</form>
		</div>
		<pre>{{lolacc}}</pre>
		<pre>{{signupForm}}</pre>
	</div>
</div>