<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<div id="form-container">
			<div class="page-header text-center">
				Log in
			</div>

			<form id="signin-form" ng-submit="processLoginForm()" novalidate>
				<div class="form-group col-lg-10 col-lg-offset-1" ng-class="{'has-error':errorName}">
					<label for="name">Name</label>
					<input type="text" name="name" class="form-control" placeholder="username" ng-model="loginForm.name" ng-minlength="3" ng-maxlength="12" required>
					<span class="help-block">{{errorName}}</span>
				</div>
				<div class="form-group col-lg-10 col-lg-offset-1"  ng-class="{'has-error':errorPassword}">
					<label for="password">Password</label>
					<input type="password" name="password" class="form-control" placeholder="password" ng-model="loginForm.password" required>
					<span class="help-block">{{errorPassword}}</span>
				</div>
				<button type="submit" class="btn btn-success">
			        <span class="glyphicon glyphicon-flash"></span> Login
			    </button>
			</form>
			{{loginForm}}
		</div>
	</div>
</div>