<div class="container">
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="home"><img src="assets/img/psGod/logo.png"></a>
        </div>

        <ul class="navbar navbar-nav navbar-right">
            <li ng-show="logged"><a ui-sref="gamer"><i class="fa fa-users"></i>Gamer</a></li>
            <li><a ng-show="!logged" ui-sref="account"><i class="fa fa-sign-in">Account</i></a></li>
            <li><a ng-show="logged" href="" ng-click="logoutUser()"><i class="fa fa-sign-out">Log out</i></a></li>
        </ul>
    </div>
</nav>
</div>


<div class="container">
    <div class="col-sm-4">
        
        <div id="sidebarHud" class=" col-xs-10 col-xs-offset-2">
            <h2>{{sidebarData.local}}</h2>
            <awesome-snippet summoner="{{sidebarData}}"></awesome-snippet>
            <div gradientbar horizontal="true"
            percentage-positive="{{100*sidebarData.leagueInfo.entries[0].wins/(sidebarData.leagueInfo.entries[0].wins+sidebarData.leagueInfo.entries[0].losses|number:0)}}" 
                color-positive="rgba(91, 5, 5, 0.8)" color-negative="rgba(5, 91, 5, 0.8)">
                <span>{{sidebarData.leagueInfo.entries[0].wins}}</span>
                <span>{{sidebarData.leagueInfo.entries[0].losses}}</span>
            </div>

            <div class="league-info">
                <img ng-src="assets/img/tierIcons/{{sidebarData.leagueInfo.tier}}_{{sidebarData.leagueInfo.entries[0].division}}.png">
                <p>
                    {{sidebarData.leagueInfo.name}},{{sidebarData.leagueInfo.tier}} {{sidebarData.leagueInfo.entries[0].division}}
                </p>
            </div>
        </div>

        <div class="ui-view-container col-xs-10 col-xs-offset-2">
            <div ui-view="sideBar"></div>
        </div>

    </div>
	<div class="col-sm-8 ui-view-container">
        <div ui-view="centralContainer"></div>    
    </div>
</div>