.imba-btn{
	display: block;
	padding: 0px 12px;
	text-decoration: none;
	font:inherit;
	color: #dec58d;

	background-color: #4708FC;
	background: linear-gradient(to bottom,#313131 0,#18614E 100%);
	border: 1px solid #766e4c;
	border-radius: 4px;
	&:hover{
	  color: #F7DA9B;
	  box-shadow: inset 0px 0px 10px rgba(45, 232, 198, 0.2);
	}
}
.imba-btn.active,imba-btn:active{
	  background-color: #BF6904;
	  background: linear-gradient(#db8e01,#871e0a);
	  box-shadow: inset 1px 1px 9px rgba(135,30,10,.8),inset -1px -1px 5px rgba(181,60,2,.8);
}
.imba-btn-block{
    width:80%;
    margin-left: 10%;
}

.page-heading-container{
    width: calc(~"100% + 120px");
    margin-left: -60px;
    padding: 1em;
    background:rgba(0,0,0,0.7);
}

.content-header{
  margin: 20px 0px 0px 0px;
  background-color: rgba(42, 42, 42, 0.5);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: #00EFFF 0px 0px 10px;
}
.content-header-between{
	&>i{
		padding:0px 20px;
		color:rgb(53,99,90);
	}
}
.content-body{
  background: #282828;
  border: 2px solid black;
  border-top: 1px solid #00EFFF;
  box-shadow: #00EFFF 0px 0px 10px;
}


#sidebarHud aws-snippet{
	width: 200px;
	font-size: 10px;
}