<div id="champ-list" class="row">
        <awesome-slider content="templates"></awesome-slider>
</div>

<div id="champ-form" class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
        <form>
            <div class="form-group">
                <input type="text" class="form-control input-lg text-center"
                placeholder="name of template" ng-model="formData.name">
            </div>
            <button type="submit" class="btn imba-btn imba-btn-block" 
            ng-click="createChamp()">Add template</button>
        </form>
    </div>
</div>
